#mainSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    width: 70%;
    padding: 2rem 0;
    margin: auto;


    .logSign{
        h1{
            font-size: 2rem;
        }
        form{
            margin-top: 2rem;
            input{
                margin-bottom: 1rem; 
                width: 100%;
                padding: 0.5rem 1rem ;
            }
        }
    }
}