/* Typography classes */

.fontBaloo{
    font-family: $fontBaloo;
}
.fontRubik{
    font-family: $fontRubik;
}
.fontRaleway{
    font-family: $fontRaleway;
}

.fontSize12{
    font-size: 12px;
}
.fontSize14{
    font-size: 14px;
}
.fontSize16{
    font-size: 16px;
}
.fontSize20{
    font-size: 20px;
}