/* Color Template */

.colorPrimary{
    color: $colorPrimary;
}
.colorPrimaryBg{
    background: $colorPrimary;
}

.colorSecondary{
    color: $colorSecondary;
}
.colorSecondaryBg{
    background: $colorSecondary;
}

.colorYellow{
    color: $colorYellow;
}
.colorYellowBg{
    background: $colorYellow;
}